PB_ENCRYPTION_KEY=5539330594

MYSQL_HOST=your-mysql-host
MYSQL_PORT=3306
MYSQL_DATABASE=u830685184_jmdigitall
MYSQL_USER=u830685184_nekovox
MYSQL_PASSWORD=Nikolas01@..

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=contacto@jmdigitall.com
SMTP_PASSWORD=Nikolas01@..
SMTP_SECURE=ssl

CONTACT_EMAIL=contacto@jmdigitall.com
